* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 75rem;
  height: 75rem;
  margin: 5rem auto;
  border: 0.5rem solid #000;

  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: block;
  margin: 3rem auto;
  padding: 1.5rem 3rem;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}
